html {
	font-size: 62.5%;

	@include respond(phone-small) {
      font-size: 45%;
   }
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
}

body {
	font-weight: 400;
	margin: 0;
	color: $color-black;
	font-family: 'Vollkorn', serif;
}


h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
}

p {
	margin: 0;
	padding: 0;
}

a {
	color: inherit;
}

.center {
	display: flex;
	justify-content: center;
	align-items: center;
}

.container {
	background-color: $color-secondary;
	margin: 3.5rem;
	box-shadow: 0 1rem 3rem $color-grey;
	overflow: hidden;

	@include respond(phone) {
      margin: 0;
   }
}