.section-heading {
   font-family: 'Muli', serif;
   font-size: 5rem;
   font-weight: 300;
   color: $color-grey-dark-3;
   margin-bottom: 6rem;
}

.service__title {
   font-family: 'Baloo Da 2', serif;
   font-size: 2.6rem;
   line-height: 2.6rem;
   font-weight: 400;
   margin-bottom: 2rem;
}

.service__text {
   font-family: 'Josefin Slab', serif;
   font-size: 1.6rem;
   text-align: justify;
}

.card__name {
   font-family: 'Baloo Da 2', serif;
   font-size: 2.5rem;
   line-height: 2.5rem;
   font-weight: 300;
   color: $color-grey-light-2;
}

.card__position {
   font-family: 'Muli', serif;
   font-size: 2rem;
   font-weight: 500;
   color: $color-red-dark;
   margin-bottom: 1rem;
}

.card__descr {
   font-family: 'Baloo Da 2', serif;
   font-size: 1.4rem;
   line-height: 1.6rem;
   font-weight: 300;
   color: $color-grey-light-2;
   width: 80%;
   margin-bottom: 2rem;
}

.contact__heading {
   font-family: 'Baloo Da 2', serif;
   font-size: 6rem;
   font-weight: 300;
   color: $color-grey-dark-5;
   margin-bottom: 5rem;
   text-align: center;
}

.footer__copyright {
   font-family: 'Baloo Da 2', serif;
   font-size: 1.6rem;
   color: $color-grey;
}

.section-header {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 7rem 0 10rem 0;
}