.cards-wrapper {
   display: flex;
   justify-content: space-evenly;

   @include respond(tab-land) {
      flex-direction: column;
      align-items: center;
   }
}

.card {
   width: 35rem;
   position: relative;
   perspective: 150rem;

   @include respond(tab-land) {
      margin: 3rem 0;
   }

   &__img {
      width: 100%;
      border-radius: .3rem .3rem 0 0;
   }

   &__front-side {
      text-align: center;
      background-color: $color-white;
      border-radius: .3rem;
      position: relative;
      z-index: 10;
      opacity: .9;
      transition: opacity .4s, transform .4s, box-shadow .4s;
   }

   &.change > &__front-side {
      transform: translateZ(-5rem) translateX(3rem);
      box-shadow: 0 2rem 4rem $color-grey-light;
      opacity: .5;
      z-index: 0;
   }

   &__back-side {
      position: absolute;
      top: 0;
      background-color: $color-primary;
      width: 100%;
      height: 100%;
      border-radius: .3rem;
      box-shadow: 0 2rem 4rem $color-grey-light;
      flex-direction: column;
      transform: translateZ(-5rem) translateX(3rem);
      opacity: .5;
      transition: opacity .4s, transform .4s, box-shadow .4s;
   }

   &.change > &__back-side {
      transform: translateZ(0) translateX(0);
      box-shadow: 0 .5rem 2rem $color-grey-light-2;
      opacity: .9;
   }

   &__list {
      width: 80%;
      margin: auto;
      padding: 2rem 0 3rem 0;

      &-item {
         font-size: 1.6rem;
         font-weight: 500;
         color: $color-grey;
         margin: 2rem 0;
         border-bottom: .1rem solid $color-primary;
         padding-bottom: 1.5rem;
      }
   }

   &__price {
      font-size: 5rem;
      font-weight: 300;
      color: $color-white;
      margin-bottom: 3rem;
   }

   &__btn {
      color: $color-primary;
      background-color: $color-white;
      border: none;
      font-size: 2.5rem;
      padding: 1rem 2rem;
      letter-spacing: .2rem;
      border-radius: 5rem;
      cursor: pointer;
   }

   &__nav-btn {
      position: absolute;
      top: 0.5rem;
      left: 0.5rem;
      padding: 0.5rem;
      background-color: rgba($color-white, .8);
      color: $color-grey-light;
      border-radius: .3rem;
      border: none;
      font-size: 1.5rem;
      font-weight: 600;
      text-transform: uppercase;
      letter-spacing: .2rem;
      cursor: pointer;
   }
}