.cards-wrapper {
   display: flex;
   justify-content: space-evenly;
   margin-top: 8rem;
   width: 100%;

   @include respond(tab-mini-land) {
      flex-direction: column;
      align-items: center;
      margin-top: 4rem;
   }
}

.card {
   width: 37rem;
   height: 45rem;
   box-shadow: 0 1rem 4rem rgba($color-black, .4);
   border-radius: .5rem;
   position: relative;

   @include respond(tab-big-land) {
      width: 34rem;
   }

   @include respond(tab-mini-land) {
      margin-bottom: 8rem;
   }

   &:hover &__img-wrapper img {
      opacity: .5;
   }

   &__img-wrapper {
      width: 100%;
      height: 100%;
      background-color: $color-grey-dark-4;
      border-radius: .5rem;

      img {
         width: 100%;
         height: 100%;
         object-fit: cover;
         opacity: .8;
         border-radius: .5rem;
         transition: opacity .3s;
      }
   }

   &:hover &__info {
      bottom: 2rem;
      opacity: 1;
      visibility: visible;
   }

   &__info {
      position: absolute;
      bottom: 0;
      padding: 2rem;
      text-shadow: 0 .2rem .5rem rgba($color-black, .4);
      opacity: 0;
      visibility: hidden;
      transition: all .3s;
   }

   &__btn {
      width: 10rem;
      height: 3rem;
      background-color: $color-yellow;
      font-family: 'Baloo Da 2', serif;
      font-size: 1.4rem;
      line-height: 1.5rem;
      color: $color-grey-light-2;
      border-radius: .3rem;
      box-shadow: 0 .1rem .8rem rgba($color-black, .4);
   }
}