.contact-form {
   width: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;

   &__field {
      width: 45rem;
      background-color: transparent;
      border: none;
      border-bottom: .2rem dashed $color-grey-dark-6;
      margin: 3rem 0;
      padding: 1rem 1rem 1rem 0;
      font-family: "Muli", serif;
      font-size: 1.6rem;
      color: $color-grey-dark-3;
      outline: none;

      @include respond(tab-mini-land) {
         margin: 2rem 0;
      }

      @include respond(tab-port) {
         width: 55rem;
      }

      @include respond(phone) {
         width: 35rem;
      }

      &:focus {
         border-bottom-style: solid;
      }

      &:focus ~ label {
         transform: translateY(-3rem);
         font-size: 1.2rem;
      }
   }

   &__input-group {
      position: relative;
   }

   &__input-group input {
      height: 4rem;
   }

   &__input-group textarea {
      max-height: 7rem;
      min-height: 3rem;
      max-width: 45rem;
      min-width: 70%;

      @include respond(tab-port) {
         max-width: 55rem;
      }

      @include respond(phone) {
         max-width: 35rem;
      }
   }

   &__input-group label {
      position: absolute;
      left: 0;
      font-family: 'Baloo Da 2', serif;
      font-size: 1.8rem;
      color: $color-grey-dark-3;
      text-transform: uppercase;
      pointer-events: none;
      transition: all .3s;
   }

   &__input-label {
      bottom: 3rem;
   }

   &__textarea-label {
      bottom: 6rem;
   }

   &__btn {
      width: 45rem;
      height: 5rem;
      background-color: $color-yellow;
      color: $color-white;
      margin-top: 2rem;
      font-family: "Muli", serif;
      font-size: 2rem;
      font-weight: 300;
      text-transform: uppercase;
      letter-spacing: .2rem;
      text-shadow: 0 .1rem .3rem rgba($color-black, .5);
      box-shadow: 0 .1rem .3rem rgba($color-black, .3);
      transition: all .3s;

      @include respond(tab-port) {
        width: 55rem;
      }

      @include respond(phone) {
         width: 35rem;
      }

      &:focus {
         background-color: $color-yellow-light;
      }
   }
}