.scroll-btn {
   position: fixed;
   right: 5rem;
   bottom: 5rem;
   width: 4.5rem;
   height: 4.5rem;
   background-color: $color-yellow-light;
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 2rem;
   color: $color-white;
   box-shadow: 0 .1rem .6rem rgba($color-black, .2);
   border-radius: .3rem;
   transition: all .3s;
   outline: none;

   &:hover,
   &:focus {
      background-color: $color-yellow;
   }
}