.popular-tours {
   padding: 5rem 0 10rem 0;
}

.stories {
   padding: 10rem 0;
   position: relative;

   &-wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
   }

   &__video-container {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: .4;
   }

   &__video-bg {
      width: 100%;
      height: 100%;
      object-fit: cover;
   }
}

.contact {
   padding: 15rem 0 20rem 0;
   text-align: center;
   background: url("../images/contact-us-bg.png");
   @include image-set;
   animation: contact-bg 35s infinite;
}