.hamburger-menu {
   width: 3rem;
   height: 3rem;
   position: fixed;
   top: 5rem;
   right: 5rem;
   z-index: 200;
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;
   cursor: pointer;
   transition: right .5s;

   &:focus &__line {
      background-color: $color-yellow;
   }

   &.change {
      right: 33rem;

      @include respond(phone-small) {
         right: 38rem;
      }
   }

   &.change &__line {
      background-color: rgba($color-black, .8);
   }

   &.change &__line--1 {
      transform: rotate(45deg) translate(.3rem, .8rem) ;
   }

   &.change &__line--2 {
      opacity: 0;
      visibility: hidden;
   }

   &.change &__line--3 {
      transform: rotate(-45deg) translate(.3rem, -.8rem) ;
   }

   &__line {
      width: 100%;
      height: .2rem;
      background-color: $color-white;
      box-shadow: 0 .1rem .2rem rgba($color-black, .2);
      transition: background-color .3s;
   }

   &.change:hover span,
   &.change:focus span {
      opacity: 1;
      visibility: visible;
   }

   span {
      position: absolute;
      left: 5rem;
      width: 10rem;
      height: 4rem;
      background-color: $color-yellow-light;
      display: flex;
      justify-content: center;
      align-items: center;
      color: $color-white;
      font-family: 'Baloo Da 2', serif;
      font-size: 1.6rem;
      letter-spacing: .1rem;
      opacity: 0;
      visibility: hidden;
      transition: all .2s;

      &::before {
         content: '';
         position: absolute;
         border-left: 1rem solid transparent;
         border-right: 1rem solid $color-yellow-light;
         border-bottom: 1rem solid transparent;
         border-top: 1rem solid transparent;
         top: 50%;
         left: -2rem;
         transform: translateY(-50%);
      }
   }
}