.header {
   width: 100%;
   height: 100vh;
   perspective: 100rem;
   overflow: hidden;

   &__bg {
      width: 100%;
      height: 100%;
      object-fit: cover;
      opacity: .5;
      animation: scale 25s;
   }

   &__banner {
      position: absolute;
      left: 15%;
      top: 30%;
   }

   &__title {
      font-family: 'Baloo Da 2', serif;
      font-size: 8rem;
      font-weight: 300;
      color: $color-white;
      width: 50%;
      line-height: 9rem;
      letter-spacing: .2rem;
      text-shadow: 0 .3rem .5rem rgba($color-black, .4);
      opacity: 0;
      animation: moveBanner 1s .5s forwards;

      @include respond(tab-land) {
         font-size: 6rem;
         line-height: 7rem;
      }

      @include respond(tab-port) {
         font-size: 5rem;
         line-height: 6rem;
      }

      @include respond(phone) {
         font-size: 4rem;
         line-height: 5rem;
      }
   }

   &__info {
      font-family: 'Josefin Slab', serif;
      font-size: 4rem;
      color: $color-white;
      width: 70%;
      letter-spacing: .1rem;
      margin-bottom: 3rem;
      text-shadow: 0 .3rem .5rem rgba($color-black, .4);
      opacity: 0;
      animation: moveBanner 1s .7s forwards;

      @include respond(tab-land) {
         font-size: 3rem;
      }

      @include respond(tab-port) {
         font-size: 2.5rem;
      }

      @include respond(phone) {
         font-size: 2rem;
      }
   }

   &__btn {
      width: 25rem;
      height: 7rem;
      background-color: $color-yellow;
      font-family: 'Muli', serif;
      font-size: 2rem;
      text-transform: uppercase;
      color: $color-white;
      text-shadow: 0 .2rem .4rem rgba($color-black, .2);
      box-shadow: 0 .3rem .5rem rgba($color-black, .4);
      opacity: 0;
      animation: moveBanner 1s .9s forwards;

      @include respond(tab-land) {
         width: 20rem;
         height: 5rem;
         font-size: 1.6rem;
      }

      @include respond(tab-port) {
         width: 18rem;
         height: 4rem;
         font-size: 1.5rem;
      }

      &:focus {
         background-color: $color-yellow-light;
      }
   }
}