@keyframes scale {
   0% {
      transform: scale(1.3);
   }
   100% {
      transform: scale(1);
   }
}

@keyframes moveBanner {
   0% {
      transform: translateY(40rem) rotate(20deg);
   }
   100% {
      transform: translateY(0) rotate(0);
      opacity: 1;
   }
}

@keyframes circles {
   0% {
      transform: rotate(0);
   }
   100% {
      transform: rotate(360deg);
   }
}

@keyframes displayCircles {
   0% {
      opacity: 0;
      visibility: hidden;
   }
   25% {
      opacity: 1;
      visibility: visible;
   }
   90% {
      opacity: 1;
      visibility: visible;
   }
   100% {
      opacity: 0;
      visibility: hidden;
   }
}