//IMAGE-SET

@mixin image-set {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

//MEDIA QUERY MANAGER

/* 
500-620px:      Phone small
625-800px:      Phone
800-1000px:     Tablet portrait
1000-1200px:    Tablet mini landscape
1200px+         Tablet landscape

$breakpoint arguments choices:
- phone-small
- phone
- tab-port
- tab-mini-land
- tab-land
1em = 16px
*/

@mixin respond($breakpoint) {
    @if $breakpoint == phone-small {
        @media only screen and (max-width:31.25em) { @content }; //500px 
    }
    @if $breakpoint == phone {
        @media only screen and (max-width:40.625em) { @content }; //650px 
    }
    @if $breakpoint == tab-port {
        @media only screen and (max-width:50em) { @content }; //800px 
    }
    @if $breakpoint == tab-mini-land {
        @media only screen and (max-width:62.5em) { @content }; //1000px 
    }
    @if $breakpoint == tab-land {
        @media only screen and (max-width:75em) { @content }; //1200px 
    }
}