//COLORS
$color-white: #fff;
$color-black: #000;
$color-primary: #2b81e4;
$color-secondary: #eee;
$color-grey: #555;
$color-grey-light: #777;
$color-grey-light-2: #aaa;
$color-grey-light-3: #bbb;
$color-grey-light-3: #ccc;

//FONT SIZES
$heading-1-size: 8rem;